html,
body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $default;
  @extend %rubik-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}

.breadcrumbs {
	&__list {
    display: flex;
    justify-content: center;
    color: $default;
	}
	&__item {
    position: relative;
    padding-right: 20px;
    &::after{
      content: "/";
      position: absolute;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
	}
	&__link {
    color: $default;
	}
}


