html,
body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $default;
  @extend %rubik-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}