html,
body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $default;
  @extend %rubik-400;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}

.clearfix::after{
  content: '';
  clear: both;
  display: block;
}

.breadcrumbs {
	&__list {
    display: flex;
    justify-content: center;
    color: $default;
	}
	&__item {
    position: relative;
    padding-right: 20px;
    &::after{
      content: "/";
      position: absolute;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
	}
	&__link {
    color: $default;
	}
}

.pagination {
  &__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
  }
  &__inner--list{
    justify-content: start;
    margin-top: 70px;
  }
	&__list {
    display: flex;
	}
	&__item {
    margin-right: 15px;
    padding: 0;
	}
  &__link{
    display: inline-block;
    padding: 22px;
    color: $title1;
    font-size: 16px;
    line-height: 10px;
    border: 1px solid $back3;
    transition: all .3s;
    &:hover{
      background-color: $back3;
      color: #fff;
    }
    &--active{
      background-color: $back3;
      color: #fff;
    }
  }
}

@media (max-width: 500px){
  // pagination adaptive
  .pagination{
    &__item{
      margin-right: 10px;
    }
  }
}

@media (max-width: 350px){
  
  // breadcrambs adaptive
  .top{
    &__title{
      line-height: 40px;
    }
  }
}






