@media (max-width: 1600px){
  // top-slider adaptive
  .top-slider{
    &__features-item{
      padding: 45px 58px 45px 155px;
      &::after{
        left: 50px;
      }
    }
  }
  // category adaptive
  .products-content{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 20px;
    &__img{
      display: inline-block;
    }
  }

  
  // features adaptive
  .features{
    &__item{
      padding: 70px 30px 40px 300px;
      max-width: 100%;
      width: 100%;
    }
    &__image--lamp{
      left: 50px;
    }
    &__image--stand{
      left: 50px;
    }
  }
  // about adaptive
  .about{
    &__img{
      margin-right: 35px;
    }
  }
}

@media (max-width: 1200px){
  // top-slider adaptive
  .top-slider{
    &__title{
      font-size: 60px;
    }
    &__img{
      width: 60%;
      object-fit: contain;
    }
    &__features-item{
      padding: 45px 37px 45px 141px;
      
    }
  }
  // category adaptive
  .products-content,
  .category-content{
    grid-template-columns: repeat(2, 1fr);
  }
  .category-content{
    &__item{
      background-color: #f8f8f8;
    }
  }
  
   // features adaptive
  .features{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      padding: 70px 30px 40px 300px;
      max-width: 100%;
      width: 100%;
      margin-bottom: 150px;
      &:first-child{
        margin-right: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  // product-video adaptive
  .product-video{
    &__popup{
      background-position: left center;
    }
  }
  // blog adaptive
  .blog{
    &__wrapper{
      height: auto;
    }
    &__items{
      display: block;
      
    }
    &__item{
      margin: 0 auto 30px;
    }
  }
  // about adaptive
  .about{
    &__img{
      max-width: 470px;
    }
  }
  .team{
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }
    &__item{
      margin: 0 auto;
    }
  }
  // contact adaptive
  .contact-items{
    flex-direction: column;
    margin-bottom: 0;
  }
  .contact-item {
      width: 100% !important;
      margin-bottom: 50px;
  }
  .contact-form{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    .comments-form{
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 50px;

      &__boxinput{
        flex-direction: column;
      }
      &__label{
        width: 100%;
        margin-bottom: 30px;
        background-color: #fafafa;
      }
      &__textarea{
        min-width: 100%;
      }
    }
  }
  // blog adaptive

  .blog-page{
    &__inner{
      flex-direction: column;
    }
    &__content{
      width: 100%;
      max-width: 100%;
    }
    &__aside{
      width: 100%;
      order: -1;
      .filter-category,
      .recent-posts{
        display: none;
      }
      .filter-search__input{
        width: 100%;
      }
    }
    &__item-img{
      max-width: 100%;
    }
    &__item-title{
      line-height: 40px;
    }
  }
  // shop adaptive
  .shop{
    &__inner{
      display: block;
    }
    .filter-products{
    display: flex;
    justify-content: space-evenly;
    }
    &__filter-btn{
      position: fixed;
      right: 0;
      bottom: 50px;
      z-index: 101;
      display: block;
      width: 60px;
      height: 60px;
      padding: 0;
      border: none;
      background-color: $accent;
      cursor: pointer;
    }
    &__filters{
      width: 100%;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      z-index: 100;
      padding: 0 20px;
      background: #fff;
    }
    
  }
  
}

@media (max-width: 1100px){
  // header adaptive
  .menu{
    margin-left: 20px;
    order: 1;
    &__list{
      position: absolute;
      transform: translateY(-300%);
      top: 120px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-item + .menu__list-item{
    margin-left: 0;
    }
    &__list-item{
      width: 100%;
      text-align: center;
    }
    &__list-link{
      display: block;
      padding: 0 15px;
      padding: 20px 0;
    }
    &__btn{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 25px;
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      span{
        width: 100%;
        height: 3px;
        background-color: $accent;
      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $accent;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }

    }
  }
  .user-nav{
    margin-left: auto;
  }
  // footer adaptive
  .footer-top{
    &__item{
      margin-right: 40px;
    }

  }
  // top-slider adaptive
  .top-slider{
    &__img{
      display: none !important;
    }
    &__features-items{
      flex-wrap: wrap;
    }
    &__features-item{
      width: 100%;
      max-width: 100%;
      border: none;
      border-bottom: 1px solid #e8e4df;
      &:last-child{
        border: none;
      }
    }
  }
   // partners adaptive
   .partners{
     padding: 88px 0;
     &__list{
       height: auto;
      flex-wrap: wrap;
     }
   }
   // about adaptive
  .about{
    &__img{
      display: none;
    }
  }
  // product details adaptive
  .product-slide{
    &__thumbs{
      display: none;
    }
  }

}

@media (max-width: 880px){
  .footer-top{
    flex-wrap: wrap;
    &__contact{
      width: 100%;
    }
    &__item-form{
      max-width: 100%;
    }
  }
  // category adaptive
  .products-content,
  .category-content{
    grid-template-columns: repeat(1, 1fr);
  }
  .category{
    padding: 50px 0;
  }
  .category-content{
    &__img{
      margin-left: auto;
    }
  }
  // product-video adaptive
  .product-video{
    &__popup{
      background-position: center;
    }
  }
  // partners adaptive
   .partners{
     padding: 88px 0;
     &__list{
       display: block;
     }
     &__item{
       display: block;
       margin: 0 auto 30px;
       text-align: center;
       img{
         display: inline-block;
       }
     }
   }
   // 404-page adaptive
   .page-404{
     &__title{
       font-size: 50px;
     }
   }
   // about adaptive
   .features-about{
     &__items{
       flex-direction: column;
       align-items: center;
     }
     &__item{
       margin-bottom: 35px;
     }
   }
   .team{
     padding: 60px 0;
     &__inner{
       flex-direction: column;
       align-items: center;
     }
     &__content{
       margin-right: 0;
       margin-bottom: 50px;
     }
    &__items-wrapper{
      width: 100%;
    }
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }
    &__item{
      margin: 0 auto;
    }
  }
  // contact adaptive
  .comments-form{
      &__textarea{
        min-width: 100%;
      }
  }
  // blog-details adaptive
  .comments-form{
    &__boxinput{
      flex-direction: column;
      margin-bottom: 0;
    }
    &__label{
      margin-bottom: 40px;
    }
    &__text-input{
      width: 100%;
    }
  }
  // product details adaptive
  .product-one{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__slider{
      justify-content: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &__content{
      width: 100%;
    }
  }
  .product-tabs{
    &__top{
      display: block;
    }
    &__top-item{
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    .product-tabs__top-item + .product-tabs__top-item {
      margin-left: 0;
    }
  }

  // shop adaptive
  .shop{
    .filter-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    &__filters{
      position: fixed;
    }
  }
  // shop-product-2
  .shop-product{
    &__item{
      display: block;
    }
    &__imgbox{
      min-width: 100%;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 650px){
  // header adaptive
  .header{
    padding: 30px 0;
  }
  .menu{
    order: 0;
  }
  .user-nav{
    justify-content: flex-end;
    width: 100%;
    margin-top: 35px;
  }
   // footer adaptive
   .footer-bottom{
     flex-wrap: wrap;
     &__copy{
       margin-bottom: 20px;
     }
     &__nav-list{
       margin-bottom: 20px;
     }
   }
   .footer-top{
    &__form-input{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  // features adaptive
  .features{
    &__item{
      padding: 30px;
      margin-bottom: 30px;
      
    }
    &__image{
      display: none;
    }
    &__link{
      margin-bottom: 30px;
    }
  }
  // blog adaptive
  .blog-top{
    flex-wrap: wrap;
    &__title{
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  .blog{
    &__item-news{
      bottom: 200px;
    }
  }
  // about adaptive
  .about{
    padding: 0;
    padding-top: 60px;
    &__items{
      flex-direction: column;
      align-items: center;
      &::before{
        width: 295px;
      }
    }
    &__item{
      margin-bottom: 40px;
      border: none;
    }
    &__item:last-child{
      margin-right: 25px;
    }
    &__item--medal::before{
      left: 0;
    }
  }
  // blog-details adaptive
  .blog-details{
    &__authorbox{
      flex-direction: column;
    }
    &__author{
      margin-bottom: 20px;
    }
  }
  .comments--active{
    margin-left: 0;
  }
  .comments{
    &__content-data{
      display: none;
    }
  }
    
  
}

@media (max-width: 500px){
  // top-slider adaptive
  .top-slider{
    &__wrapper{
      padding: 80px 15px 40px
    }
    &__title{
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 20px;
    }
    &__text{
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__features-item{
      padding: 45px 37px 45px 110px;
      &::after{
        left: 35px;
      }
    }
  }
  // category adaptive
  .category-top{
    &__title{
      font-size: 28px;
      line-height: 38px;
    }
    &__filter-btn{
      display: flex;
      flex-direction: column;
    }
    &__btn{
      margin-right: 0;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  // category adaptive
  .category-content{
    &__box{
      top: 15px;
      left: 15px;
    }
    &__name{
      font-size: 19px;
    }
  }
  // about adaptive
  .team{
    &__item{
      width: 100%;
    }
    &__item-info{
      width: 295px;
    }
  }
  // contact adaptive
   .contact-form{
    #map{
      width: 300px;
    }
   }
  // blog-details
  .blog-details{
    &__content{
      blockquote{
        padding: 20px;
      }  
    }
  }
  // product-details
  .product-filter{
    &__btn{
      margin-top: 30px;
      margin-left: 0;
    }
  }
  .product-slide{
    &__big{
      width: 320px;
    }
    &__big-item{
      border: none;
    }
  }
}

@media (max-width: 350px){
  // header adaptive
  .user-nav{
    flex-direction: column;
    &__inner{
      margin: 20px 0;
    }
  }
  // terms adaptive
  .top{
    &__title{
      line-height: 40px;
    }
  }
}


