// colors
$accent: #436372;
$default: #7b7b7b;
$ft: #1f2044;
$title1: #243f4d;
$title2: #414141;

// background
$back1: #edf1f4;
$back2: #fcd7b6;
$back3: #a3bbc8;
$back4: #fff;
$back5: #fef7f0;


// fonts

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dm-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dm-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dm-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

// styles

%btn {
  border: none;
  background-color: $back3;
  color: #fff;
  cursor: pointer;
}



