// colors
$accent: #436372;
$default: #7b7b7b;
$ft: #1f2044;
$title1: #243f4d;
$title2: #414141;
$blog-accent: #262626;

// background
$back1: #edf1f4;
$back2: #fcd7b6;
$back3: #a3bbc8;
$back4: #fff;
$back5: #fef7f0;
$back6: #feefe2;



// fonts

%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dm-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%dm-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dm-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

// styles

%btn {
  border: none;
  background-color: $back3;
  color: #fff;
  cursor: pointer;
}

%title-category {
  font-size: 36px;
  line-height: 43px;
  @extend %dm-700;
  color: #191919;
  text-align: center;
}

%title-features {
  font-size: 26px;
  line-height: 32px;
  @extend %dm-700;
  color: $title1;
}

%btn-category {
  padding: 0;
  @extend %dm-700;
  font-size: 16px;
  line-height: 21px;
  background-color: #fff;
  color: #8b8b8b;
  border: none;
  cursor: pointer;
}

%checkbox-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}






