@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1770px;
    margin: 0 auto;
    line-height: 22px;
    @extend %rubik-500;
  }
}

.logo{
  display: flex;
  font-size: 36px;
  line-height: 58px;
  color: $accent;
  &__img{
    margin-right: 10px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__link--search{
    background-color: $back1;
  }
  &__link--menu-btn{
    background-color: $back3;
  }

  &__inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 50px;
    margin: 0 18px;
    
    background-color: $back2;
    border-radius: 50px;
  }
  &__inner:after{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
  }
  &__link-inner{
    position: relative;
  }
  &__num{
    position: absolute;
    top: -7px;
    right: -9px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: $back4;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
  }
}

// .footer
.footer-top {
  display: flex;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  line-height: 22px;
  &__contact {
    width: 200px;
    margin-right: 100px;
	}
  &__item-logo{
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    margin-bottom: 10px;
    color: $default;
    transition: all .3s;
    &:hover{
      text-decoration: underline;
    }
	}
  &__nav {
    width: 170px;
    margin-right: 130px;
	}
  &__title {
    margin: 22px 0;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $ft;
    @extend %dm-700;
  	}
  &__item-form {
    max-width: 269px;
	}
  &__text {
    margin-bottom: 32px;
	}
  &__form {
    @extend %dm-400;
	}
  &__form-input {
    width: 100%;
    max-width: 170px;
    padding: 14px 10px 14px 15px;
    margin: 0;
    line-height: 0;
    background-color: $back5;
    border: none;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
	}
  &__form-btn {
    @extend %btn;
    display: inline-block;
    padding: 12px 14px 12px 14px;
    font-size: 14px;
    line-height: 21px;
	}
}

.footer-bottom {
  height: 90px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  color: $default;
	&__nav-list {
    display: flex;
	}
	&__nav-item {
    padding: 0 15px;
    border-right: 1px solid $default;
    &:last-child{
      padding-right: 0;
      border: none;
    }
	}
	&__nav-link {
    color: $default;
    line-height: 0;
	}
}

// top
  .top {
    padding: 35px 0;
    background-color: $back1;
	&__title {
    margin-bottom: 15px;
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    text-align: center;
	}
}

// slider

.top-slider {
	&__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 205px 15px 40px;
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
	}
	&__item {
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 200px;
	}
	&__content {
    color: $title1;
	}
	&__title {
    margin-bottom: 35px;
    color: $title1;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
	}
	&__text {
    max-width: 370px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
	}
	&__link {
    display: inline-block;
    position: relative;
    @extend %btn;
    padding: 20px 100px 20px 30px;
    vertical-align: middle;
	}
  &__link:before{
    content: url(../images/arrow.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  &__img{
    margin-top: 65px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin: 0 10px;
      line-height: 0;
      button{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        text-align: center;
        @extend %rubik-500;
        color: $title1;
        font-size: 11px;
        line-height: 11px;
        opacity: .3;
        transition: all .3s;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }
}
// features
.top-slider {
  &__features {
    max-width: 1800px;
    margin: 0 auto;
    background-color: $back5;
	}
  &__features-items {
    display: flex;
    justify-content: space-between;
	}
  &__features-item {
    position: relative;
    max-width: 600px;
    padding: 45px 150px 45px 235px;
    border-right: 1px solid #e8e4df;
    &:last-child{
      border: none;
    }
    &::after{
      content: "";
      position: absolute;
      top: 40%;
      left: 150px;
      width: 55px;
      height: 55px;
      transform: translateY(-40%);
    }
    &--support::after{
      background-image: url(../images/slider/features/support.png);
      background-repeat: no-repeat;
    }
    &--delivery::after{
      background-image: url(../images/slider/features/delivery.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &--payment::after{
      background-image: url(../images/slider/features/payment.png);
      background-repeat: no-repeat;
    }
	}

  &__features-title {
    color: $title2;
    font-size: 18px;
    line-height: 40px;
    @extend %dm-700;
	}
  &__features-text {
    max-width: 183px;
    font-size: 16px;
    line-height: 30px;
    @extend %dm-400;
    color: #585858;
	}
}

// section category

.category {
  padding: 100px 0 120px 0;
}

.category-top {
  margin-bottom: 77px;
  &__title {
    @extend %title-category;
    margin-bottom: 30px;
	}

  &__filter-btn {
    text-align: center;
	}
  &__btn {
    @extend %btn-category;
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
	}
  .mixitup-control-active {
    color: #191919;
  }
}

.category-content {
    display: grid;
    min-height: 246px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
	&__item {
    position: relative;
	}
  &__box {
    position: absolute;
    top: 40px;
    left: 34px;
    @extend %dm-700;
  }
	&__name {
    display: block;
    max-width: 185px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #191919;
	}
	&__text {
    color: $back3;
    font-size: 16px;

	}
}

// section products
  .products {
    padding: 70px 0 185px;
}
  .products-content {
  display: grid;
  min-height: 380px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 30px;
  text-align: center;
	&__item {
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    border-radius: 10px;
    &:hover{
      .products-content__link-box {
        transform: translateY(0);
      }
    }
	}
	&__img {
    object-fit: cover;
	}
	&__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    margin: 0 auto;
    transform: translateY(450%);
    transition: all .3s;
	}
	&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
    &:hover{
      background-color: $back3;
      path{
        fill: rgb(255, 255, 255);
      }
    }
	}
  &__link{
    path{
      transition: all .3s;
    }
  }
	&__text-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    font-size: 16px;
	}
	&__text-link {
    margin-bottom: 20px;
    @extend %dm-500;
    color: $title1;
    line-height: 25px;
	}
	&__text-price {
    margin-top: 10px;
    @extend %dm-700;
    color: $back3;
	}
}

// .features
  .features {
	&__items {
    display: flex;
	}
	&__item {
    position: relative;
    max-width: 870px;
    max-height: 400px;
    padding: 100px 150px 100px 380px;
    background-color: $back6;
    &:first-child{
      margin-right: 30px;
    }
	}
	&__image {
    position: absolute;
    left: 135px;
    bottom: 85px;
	}
  &__image--stand{
    left: 90px;
  }

	&__name {
    @extend %title-features;
    margin-bottom: 30px;
	}
	&__description {
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__link {
    position: relative;
    display: inline-block;
    padding: 22px 83px 22px 18px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    background-color: transparent;
    @extend %rubik-500;
    &:before{
      content: url(../images/decor/arrow.svg);
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
	}
}

// .popup
.product-video {
	&__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	}
}

// .blog
.blog {
  &__wrapper{
    height: 450px;
    padding-top: 108px;
  }
	&__items {
    display: flex;
    justify-content: space-between;
	}
	&__item {
    position: relative;
    max-width: 370px;
    min-height: 420px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}
	&__item-imglink {
    display: block;
    img{
      height: 250px;
      object-fit: cover;
    }
	}
	&__item-news {
    position: absolute;
    bottom: 190px;
    left: 28px;
    padding: 10px 30px;
    background-color: $back3;
    border-radius: 50px;
    color: #fff;
    @extend %dm-700;
    text-transform: uppercase;
	}
	&__item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 36px 25px;
	}
	&__item-titlelink {
    min-height: 80px;
    display: block;
    margin-bottom: 15px;
	}
	&__item-title {
    @extend %dm-500;
    font-size: 18px;
    color: $blog-accent;
	}
	&__item-info {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    text-transform: uppercase;
	}
	&__item-data {
    margin-right: 30px;
	}
	&__item-author,
  &__item-data {
    font-size: 12px;
    line-height: 30px;
    color: #222933;
	}
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
	&__title {
    @extend %title-category;
	}
	&__link {
    position: relative;
    padding-right: 25px;
    @extend %dm-700;
    font-size: 16px;
    color: #262626;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 6px;
      height: 11px;
      background-image: url('../images/decor/arrow-2.svg');
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
	}
}
// partners

.partners {
  padding: 260px 0 88px;
  background-color: $back5;
	&__list {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
}

.partners--special {
  padding: 85px 0;
}

// modal
.modal {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
	&__form {
   color: $accent;
	}
	&__label{
    display: block;
    margin-bottom: 30px;
    color: $accent;
	}
  &__label-check{
    display: block;
    margin-bottom: 25px;
  }
	&__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 0 15px ;
    border: 1px solid #f6f6f6;
	}
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #f6f6f6;
  }
	&__btn {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: $back3;
    color: #fff;
    @extend %rubik-500;
    font-size: 18px;
    border: none;
    cursor: pointer;
	}
	&__forpassword {
    color: $accent;
	}
	&__text {
    padding: 28px 0;
    text-align: center;
	}
  &__text--spec{
    text-align: start;
    padding: 0;
    margin-bottom: 25px;
  }
	&__registerlink {
    display: block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border: 2px solid $back3;
    @extend %rubik-500;
    color: $title1;
    cursor: pointer;
	}
}







@import 'media';




