@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 22px;
    @extend %rubik-500;
  }
}

.logo{
  display: flex;
  font-size: 36px;
  line-height: 58px;
  color: $accent;
  &__img{
    margin-right: 10px;
  }
}

.menu{
  &__btn{
    display: none;
  }
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  &__link--search{
    background-color: $back1;
  }
  &__link--menu-btn{
    background-color: $back3;
  }

  &__inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 50px;
    margin: 0 18px;
    
    background-color: $back2;
    border-radius: 50px;
  }
  &__inner:after{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
  }
  &__link-inner{
    position: relative;
  }
  &__num{
    position: absolute;
    top: -7px;
    right: -9px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: $back4;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
  }
}

// .footer
.footer-top {
  display: flex;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  line-height: 22px;
  &__contact {
    width: 200px;
    margin-right: 100px;
	}
  &__item-logo{
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    margin-bottom: 10px;
    color: $default;
    transition: all .3s;
    &:hover{
      text-decoration: underline;
    }
	}
  &__nav {
    width: 170px;
    margin-right: 130px;
	}
  &__title {
    margin: 22px 0;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $ft;
    @extend %dm-700;
  	}
  &__item-form {
    max-width: 269px;
	}
  &__text {
    margin-bottom: 32px;
	}
  &__form {
    @extend %dm-400;
	}
  &__form-input {
    width: 100%;
    max-width: 170px;
    padding: 14px 10px 14px 15px;
    margin: 0;
    line-height: 0;
    background-color: $back5;
    border: none;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
	}
  &__form-btn {
    @extend %btn;
    display: inline-block;
    padding: 12px 14px 12px 14px;
    font-size: 14px;
    line-height: 21px;
	}
}

.footer-bottom {
  height: 90px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  color: $default;
	&__nav-list {
    display: flex;
	}
	&__nav-item {
    padding: 0 15px;
    border-right: 1px solid $default;
    &:last-child{
      padding-right: 0;
      border: none;
    }
	}
	&__nav-link {
    color: $default;
    line-height: 0;
	}
}

// top
  .top {
    padding: 35px 0;
    background-color: $back1;
	&__title {
    margin-bottom: 15px;
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    text-align: center;
	}
}

// slider

.top-slider {
  
	&__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 205px 15px 40px;
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
	}
	&__item {
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 200px;
	}
	&__content {
    color: $title1;
	}
	&__title {
    margin-bottom: 35px;
    color: $title1;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
	}
	&__text {
    max-width: 370px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
	}
	&__link {
    display: inline-block;
    position: relative;
    @extend %btn;
    padding: 20px 100px 20px 30px;
    vertical-align: middle;
	}
  &__link:before{
    content: url(../images/arrow.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  &__img{
    margin-top: 65px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin: 0 10px;
      line-height: 0;
      button{
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        text-align: center;
        @extend %rubik-500;
        color: $title1;
        font-size: 11px;
        line-height: 11px;
        opacity: .3;
        transition: all .3s;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
    }
  }
}
// features
.top-slider {
  &__features {
    max-width: 1800px;
    margin: 0 auto;
    background-color: $back5;
	}
  &__features-items {
    display: flex;
    justify-content: space-between;
	}
  &__features-item {
    position: relative;
    max-width: 600px;
    padding: 45px 150px 45px 235px;
    border-right: 1px solid #e8e4df;
    &:last-child{
      border: none;
    }
    &::after{
      content: "";
      position: absolute;
      top: 40%;
      left: 150px;
      width: 55px;
      height: 55px;
      transform: translateY(-40%);
    }
    &--support::after{
      background-image: url(../images/slider/features/support.png);
      background-repeat: no-repeat;
    }
    &--delivery::after{
      background-image: url(../images/slider/features/delivery.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    &--payment::after{
      background-image: url(../images/slider/features/payment.png);
      background-repeat: no-repeat;
    }
	}

  &__features-title {
    color: $title2;
    font-size: 18px;
    line-height: 40px;
    @extend %dm-700;
	}
  &__features-text {
    max-width: 183px;
    font-size: 16px;
    line-height: 30px;
    @extend %dm-400;
    color: #585858;
	}
}

// section category

.category {
  padding: 100px 0 120px 0;
}

.category-top {
  margin-bottom: 77px;
  &__title {
    @extend %title-category;
    margin-bottom: 30px;
	}

  &__filter-btn {
    text-align: center;
	}
  &__btn {
    @extend %btn-category;
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
	}
  .mixitup-control-active {
    color: #191919;
  }
}

.category-content {
    display: grid;
    min-height: 246px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
	&__item {
    position: relative;
	}
  &__box {
    position: absolute;
    top: 40px;
    left: 34px;
    @extend %dm-700;
  }
	&__name {
    display: block;
    max-width: 185px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #191919;
	}
	&__text {
    color: $back3;
    font-size: 16px;

	}
}

// section products
  .products {
    padding: 70px 0 185px;
}
  .products-content {
  display: grid;
  min-height: 380px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 30px;
  text-align: center;
  &--grid{
    grid-template-columns: repeat(3, 1fr);
  }

	&__item {
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    border-radius: 10px;
    &:hover{
      .products-content__link-box {
        transform: translateY(0);
      }
    }
	}
	&__img {
    object-fit: cover;
	}
	&__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    margin: 0 auto;
    transform: translateY(450%);
    transition: all .3s;
	}
	&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
    &:hover{
      background-color: $back3;
      path{
        fill: rgb(255, 255, 255);
      }
    }
	}
  &__link{
    path{
      transition: all .3s;
    }
  }
	&__text-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    font-size: 16px;
	}
	&__text-link {
    margin-bottom: 20px;
    @extend %dm-500;
    color: $title1;
    line-height: 25px;
	}
	&__text-price {
    margin-top: 10px;
    @extend %dm-700;
    color: $back3;
	}
}

// .features
  .features {
	&__items {
    display: flex;
	}
	&__item {
    position: relative;
    max-width: 870px;
    max-height: 400px;
    padding: 100px 150px 100px 380px;
    background-color: $back6;
    &:first-child{
      margin-right: 30px;
    }
	}
	&__image {
    position: absolute;
    left: 135px;
    bottom: 85px;
	}
  &__image--stand{
    left: 90px;
  }

	&__name {
    @extend %title-features;
    margin-bottom: 30px;
	}
	&__description {
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__link {
    position: relative;
    display: inline-block;
    padding: 22px 83px 22px 18px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    background-color: transparent;
    @extend %rubik-500;
    &:before{
      content: url(../images/decor/arrow.svg);
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
	}
}

// .popup
.product-video {
	&__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	}
}

// .blog
.blog {
  &__wrapper{
    height: 450px;
    padding-top: 108px;
  }
	&__items {
    display: flex;
    justify-content: space-between;
	}
	&__item {
    position: relative;
    max-width: 370px;
    min-height: 420px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}
	&__item-imglink {
    display: block;
    img{
      height: 250px;
      object-fit: cover;
    }
	}
	&__item-news {
    position: absolute;
    bottom: 190px;
    left: 28px;
    padding: 10px 30px;
    background-color: $back3;
    border-radius: 50px;
    color: #fff;
    @extend %dm-700;
    text-transform: uppercase;
	}
	&__item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 36px 25px;
	}
	&__item-titlelink {
    min-height: 80px;
    display: block;
    margin-bottom: 15px;
	}
	&__item-title {
    @extend %dm-500;
    font-size: 18px;
    color: $blog-accent;
	}
	&__item-info {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    text-transform: uppercase;
	}
	&__item-data {
    margin-right: 30px;
	}
	&__item-author,
  &__item-data {
    font-size: 12px;
    line-height: 30px;
    color: #222933;
	}
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
	&__title {
    @extend %title-category;
	}
	&__link {
    position: relative;
    padding-right: 25px;
    @extend %dm-700;
    font-size: 16px;
    color: #262626;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 6px;
      height: 11px;
      background-image: url('../images/decor/arrow-2.svg');
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
	}
}
// partners

.partners {
  padding: 260px 0 88px;
  background-color: $back5;
	&__list {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
}

.partners--special {
  padding: 85px 0;
}

// modal
.modal {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
	&__form {
   color: $accent;
	}
	&__label{
    display: block;
    margin-bottom: 30px;
    color: $accent;
	}
  &__label-check{
    display: block;
    margin-bottom: 25px;
  }
	&__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 0 15px ;
    border: 1px solid #f6f6f6;
	}
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #f6f6f6;
  }
	&__btn {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: $back3;
    color: #fff;
    @extend %rubik-500;
    font-size: 18px;
    border: none;
    cursor: pointer;
	}
	&__forpassword {
    color: $accent;
	}
	&__text {
    padding: 28px 0;
    text-align: center;
	}
  &__text--spec{
    text-align: start;
    padding: 0;
    margin-bottom: 25px;
  }
	&__registerlink {
    display: block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border: 2px solid $back3;
    @extend %rubik-500;
    color: $title1;
    cursor: pointer;
	}
}

// page-404

  .page-404 {
    padding: 100px 0;
    background-color: $back3;
	&__title {
    margin-bottom: 35px;
    color: $title1;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    text-align: center;
	}
	&__text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
	}
  &__link-box{
    display: flex;
    justify-content: center;
  }
  &__link{
    margin-top: 50px;
    padding: 14px 35px;
    background-color: #edf1f4;
    text-transform: uppercase;
    @extend %dm-500;
    color: #191919;
    text-align: center;
  }
}

// shop page

.shop {
  padding: 120px 0;
	&__inner {
    display: flex;
	}

	&__filters {
    min-width: 270px;
    margin-right: 30px;
	}
  &__filter-btn{
    display: none;
  }
}

.filter {
		&__item {
      margin-bottom: 55px;
      &:last-child{
        margin-bottom: 0;
      }
		}
		&__title {
      display: inline-block;
      margin-bottom: 30px;
      @extend %dm-700;
      font-size: 18px;
      color: $title1;
      text-transform: uppercase;
      &::after{
        display: inline-block;
        content: "";
        width: 38px;
        height: 3px;
        margin-left: 20px;
        background-color: $back3;
        vertical-align: middle;
        
      }
		}
}

.filter-category {
	&__label {
    cursor: pointer;
	}
	&__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: $back1;
      border-radius: 5px;
    }
	}
	&__checkbox {
    position: relative;
    padding: 15px 22px 15px 15px;
	}
	&__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $title1;
    &::after{
      content: "";
      width: 7px;
      height: 11px;
      background-image: url(../images/decor/arrow-product.svg);
      background-repeat: no-repeat;
    }
	}
}

// filter price

.filter-price {
  margin-bottom: 85px;
	&__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $title1;
	}
  .filter-price__from::before{
    content: "$"
  }
  .filter-price__to::before{
    content: "$"
  }
}

// style filter
.irs--flat .irs-line{
  top: 7px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-bar{
  top: 6px;
  height: 4px;
  background-color: $back3;
}

.irs--flat .irs-handle{
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: $back3;
}

.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat{
  height: 34px;
}

.filter-price__label{
  margin-top: 3px;
}


//  filter-brand

.filter-brand {
	&__label {
    cursor: pointer;
	}
	&__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: $back1;
      border-radius: 5px;
      .filter-brand__number{
        color: $title1;
      }
    }
	}
	&__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 15px 22px 15px 15px;
	}
	&__text {
    font-size: 16px;
    color: $title1;
	}
  &__number{
    font-size: 16px;
  }
}

// filter-product
.filter-products {
	&__item {
    display: flex;
    margin-bottom: 25px;
	}
	&__imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-right: 30px;
    border: 3px solid #f2f2f2;
    object-fit: cover;
	}
	&__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
	}
	&__title {
    color: #333;
    line-height: 16px;
	}
	&__rate {
    margin-left: -6px;
	}
	&__price {
    font-size: 15px;
    color: #333;
    line-height: 20px;
	}
}

// shop-product

.shop-product {
	&__inner {
    width: 100%;
	}
	&__item {
    min-height: 500px;
    display: flex;
    margin-bottom: 40px;
    &:hover{
      .shop-product__addbtn{
        opacity: 1;
      }
    }
	}
	&__imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 370px;
    min-height: 500px;
    margin-right: 30px;
    border: 2px solid #f2f2f2;
	}
	&__img {
    object-fit: cover;
	}
	&__item-content {
    padding-left: 25px;
	}
	&__item-title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 26px;
    color: #333;
	}
	&__item-rate {
    margin-bottom: 30px;
	}
	&__item-price {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 30px;
    color: #333;
	}
	&__item-text {
    max-width: 407px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
  &__box{
    position: relative;
    display: flex;
  }
  &__boxlink,
  &__boxcart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:first-child{
      margin-right: 10px;
    }
  }
  &__addbtn{
    position: absolute;
    height: 50px;
    margin-top: -50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 45px;
    background-color: $back3;
    border-radius: 5px;
    letter-spacing: 2px;
    opacity: 0;
    cursor: pointer;

    transition: all .2s;
  }
}

.shop-product__boxlink--active{
  background-color: $back3;
   path{
      fill: #fff;
    }
}

// product-details

.product-one {
  padding-top: 120px;
	&__inner {
    display: flex;
	}

	&__slider {
    width: 550px;
    margin-right: 70px;
	}

	&__content {
    width: 570px;
	}
  &__content-text{
    margin-bottom: 30px;
    font-size: 16px;
    color: $title1;
    line-height: 30px;
  }
}
.product-slide {
  display: flex;
	&__thumbs {
    width: 140px;
    margin-right: 30px;
	}
	&__thumbs-item {
    margin-bottom: 19px;
    width: 140px;
    height: 160px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    img{
      margin: 0 auto;
      width: 110px;
      height: 145px;
      object-fit: cover;
    }
	}
	&__big {
    width: 385px;
	}
	&__big-item {
    width: 385px;
    height: 530px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    img{
      margin: 0 auto;
      width: 235px;
      height: 410px;
      object-fit: cover;
    }
	}
}

.product-filter {

	&__boxnum {
    margin-bottom: 52px;
	}

	&__num {
    position: relative;
    &::after{
      position: absolute;
      top: 1px;
      right: 50px;
      content: "";
      width: 1px;
      height: 50px;
      background-color: $back3;
    }
    &::before{
      position: absolute;
      top: 1px;
      left: 50px;
      content: "";
      width: 1px;
      height: 50px;
      background-color: $back3;
    }
	}



	&__btn {
    margin-left: 10px;
    height: 50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 45px;
    background-color: $back3;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
	}
	&__item {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__info-title {
    margin-right: 3px;
	}
	&__info-link {
    color: $title1;
	}
}

.jq-number__field {
  width: 152px;
  border: 1px solid $back3;
  border-bottom-color: $back3;
  border-radius: 0;
  box-shadow: none;
}

.jq-number__field input {
  width: 100%;
  height: 49px;
  border: none;
  outline: none;
  background: none;
  color: $title1;
  text-align: center;
}
.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transform: translateY(-50%);
}

.jq-number__spin.minus{
  left: 19px;
}
.jq-number__spin.plus{
  right: 19px
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 6px;
  width: 10px;
  height: 1px;
  background-color: #333;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 1px;
  height: 10px;
  background-color: #333;
}

// tabs

.product-tabs {
  padding-top: 80px;
	&__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    @extend %rubik-500;
    font-size: 18px;
	}
	&__top-item {
    width: 241px;
    padding: 20px 0;
    color: $title1;
    background-color: $back1;
    text-align: center;
    border-radius: 5px;
    & + .product-tabs__top-item{
      margin-left: 13px;
    }
	}
	&__top-item--active {
    color: #fff;
    background-color: $back3;
	}
	&__content {
    color: $title1;
    font-size: 16px;
    line-height: 30px;
	}
	&__content-item {
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
	}
}

// related slider

.related{
  &__title{
    position: relative;
    margin: 110px 0 75px;
    color: $title1;
    @extend %dm-700;
    font-size: 36px;
  }
}

.related-slider{
  display: flex;
  align-items: center;
  height: 400px;
  .products-content__item{
    display: inline-block;
    width: 270px;
    text-align: center;
    & + .products-content__item{
      margin-right: 30px;
    }
  }

  .slick-prev,
  .slick-next{
    position: absolute;
    top: -123px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 1px solid $back1;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      border: 1px solid $back3;
    }
  }

  .slick-prev{
  right: 70px;
  }
}

// Blog page

.blog-page {
  padding: 120px 0 120px;
	&__inner {
    display: flex;
    justify-content: space-between;
	}
	&__content {
    width: 830px;
    .pagination__inner{
      margin-top: 75px;
      justify-content: start;
    }
	}
	&__item {
    margin-bottom: 50px;
	}
	&__item-imgbox {
    position: relative;
    margin-bottom: 40px;
	}
	&__item-link {
    color: inherit;
	}
	&__item-img {
    display: block;
    max-width: 850px;
    height: 500px;
    object-fit: cover;
	}

  .blog-box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 275px;
    height: 70px;
    margin-top: -10px;
    padding: 25px 0;
    background-color: $back3;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
	  &__author {
      position: relative;
      padding-left: 20px;
      color: inherit;
      &::before{
        content: '';
        position: absolute;
        top: -2px;
        left: -3px;
        width: 15px;
        height: 17px;
        background-image: url('../images/icon/user.svg');
      }
	  }
	  &__date {
      position: relative;
      margin-right: 25px;
      padding-left: 45px;
      &::before{
        content: '';
        position: absolute;
        top: -2px;
        left: 18px;
        width: 15px;
        height: 17px;
        background-image: url('../images/icon/calendar.svg');
      }
	  }
  }
	&__item-title {
    margin-bottom: 35px;
    font-size: 36px;
    color: #333;
    line-height: 26px;
	}
	&__item-text {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__item-btn {
    position: relative;
    display: inline-block;
    min-width: 180px;
    padding: 22px 83px 22px 18px;
    font-size: 15px;
    line-height: 12px;
    color: $back3;
    border: 1px solid $back3;
    background-color: transparent;
    @extend %rubik-500;
    &:before{
      content: url(../images/decor/arrow-related-right.svg);
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
	}
	&__aside {
    width: 270px;
    .filter-search {
		&__form {
      display: flex;
      margin-bottom: 55px;
		}
		&__input {
      width: 225px;
      height: 43px;
      padding: 0 15px;
      background-color: #fff;
      border: 1px solid #eef2f5;
      border-radius: 5px;
      outline: none;
		}
		&__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -5px;
      width: 50px;
      height: 43px;
      border: 1px solid #eef2f5;
      border-radius: 5px;
      cursor: pointer;
		}
   }
	}
}

// recent post

.recent-posts {
	&__item {
    display: flex;
    & + .recent-posts__item{
      padding-top: 20px;
    }
	}
	&__img-link {
    min-width: 70px;
    margin-right: 20px;
	}
	&__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
	}
	&__box-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
	}
  &__date{
    position: relative;
    display: flex;
    .blog-box__date{
      margin: 0;
      padding: 0;
      padding-left: 22px;
      &::before{
        top: 0;
        left: 0;
        background-image: url('../images/icon/calendar-recent.svg');
        
      }
    }
  }
}

// blog-details

.blog-details{
  &__content{
    h4{
      margin: 30px 0;
      font-size: 36px;
      line-height: 40px;
      color: #333;
    }
    h5{
      margin: 20px 0;
      @extend %rubik-500;
      font-size: 16px;
      line-height: 30px;
      color: $title1;
    }
    p{
      margin: 25px 0;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
    }
    blockquote{
      margin: 45px 0;
      padding: 20px 90px 20px 40px;
      font-size: 16px;
      line-height: 30px;
      color: $title1;
      border-left: 6px solid $back3;
      background-color: $back1;
      figcaption{
        position: relative;
        margin: 20px 0 5px;
        padding-left: 45px;
        font-size: 16px;
        color: $title1;
        line-height: 20px;
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 2px;
          transform: translateY(-50%);
          width: 20px;
          height: 2px;
          
          background-color: $back3;

        }
      }
    }
  }
  &__imgbox{
    position: relative;
  }
  &__left-img{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;

  }
  &__right-img{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  &__authorbox {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
	}
	&__author {
    display: flex;
	}
	&__author-img {
    width: 76px;
    height: 76px;
    margin-right: 30px;
    object-fit: cover;
	}
  h5.blog-details__author-name{
    margin-top: 15px;
    @extend %rubik-500;
    font-size: 18px;
    color: #333;
    line-height: 15px;
  }
	
  p.blog-details__prof{
    margin: 15px 0;
    line-height: 10px;
    color: #666;
  }
	&__tags {
    margin: 15px 0;
    span{
      margin-right: 30px;
      @extend %rubik-400;
      font-size: 16px;
      color: #333;
    }
    a{
      font-size: 16px;
      color: #999;
    }
	}
	&__share {
    margin-bottom: 15px;
    span{
      @extend %rubik-400;
      font-size: 16px;
      color: #333;
    }
	}
	&__share-link {
    margin-left: 20px;
    path{
      fill: #a1a1a1;
    }
	}
}

// Comments
.comments-title{
  margin: 60px 0;
  @extend %rubik-700;
  font-size: 24px;
  color: $accent;
}

.comments {
  display: flex;
  margin: 30px 0;
  &--active{
    margin-left: 130px;
    padding: 30px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
	&__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    object-fit: cover;
	}
	&__content-top {
    display: flex;
    justify-content: space-between;
	}
	p.comments__content-name {
    margin: 0;
    line-height: 15px;
    @extend %rubik-700;
    font-size: 16px;
	}
	p.comments__content-data {
    margin: 0;
    line-height: 15px;
    color: #9e9e9e;
	}
  p.comments__content__text{
    color: #565872;
  }
	&__content-reply {
    position: relative;
    padding-right: 25px;
    color: #516278;
    font-size: 16px;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url('../images/icon/arrow-right-solid.svg');
    }
	}
}

// comments-form
.comments-form {
  .comments-title {
    margin: 90px 0 45px;
  }
	&__boxinput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
	}
  &__label{
    position: relative;
    display: flex;
    justify-content: space-between;
    svg{
      position: absolute; 
      top: 20px;
      right: 20px;
    }
  }
	&__text-input {
    transition: all .3s;
    &:hover{
      border-color: $back3;
      &::placeholder{
        color: #333;
      }
    }
    width: 400px;
    height: 50px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    color: #999;
    outline: none;
	}
	&__textarea {
    transition: all .3s;
    &:hover{
      border-color: $back3;
      &::placeholder{
        color: #333;
      }
    }
    display: block;
    min-width: 830px;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    color: #999;
    resize: none;
    outline: none;
	}
	&__submit {
    @extend %btn;
    width: 190px;
    padding: 20px 0;
    text-transform: uppercase;
	}
}

.contact {
  padding-top: 115px;
	&__subtitle {
    margin-bottom: 5px;
    color: $back3;
    font-size: 16px;
    text-align: center;
	}
	&__title {
    margin-bottom: 75px;
    @extend %dm-700;
    font-size: 35px;
    color: $accent;
    text-align: center;
	}
  .contact-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    min-height: 380px;
    padding: 70px 0 70px;
    background: #fbfbfb;
    text-align: center;
    border: 1px solid #fbfbfb;
    transition: all .3s;
      &:hover{
        border-color: $back3;
        .contact-item__boximg{
          background-color: $back3;
            path{
              fill: #fff;
            }
        }
      }
	  &__boximg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-bottom: 60px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 6px 57px 0px rgba(37, 37,  37, 0.05);
      transition: all .3s;
	  }
	  &__info-title {
      margin-bottom: 25px;
      @extend %dm-700;
      font-size: 20px;
      color: #222;
	  }
	  &__info-item {
      font: 16px;
      color: #565872;
	  }
    &__info-text{
      display: inline-block;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__info-link{
      color: inherit;
    }
  }
}

// contact-form

.contact-form{
  &__inner{
    display: flex;
  }
  .comments-form {
    max-width: 620px;
    margin-right: 50px;
    &__label--textarea{
      height: 175px;
    }
	  &__text-input {
      width: 300px;
      text-transform: uppercase;
      color: #565872;
      border: none;
      background-color: #fafafa;
	  }
	  &__textarea {
      min-width: 620px;
      height: 175px;
      text-transform: uppercase;
      color: #565872;
      border: none;
      background-color: #fafafa;
	  }
	  &__submit {
      margin-top: 30px;
	  }
  }
  #map{
    width: 500px;
    height: 335px;
  }
}


// about

.about {
  padding: 120px 0;
	&__inner {
    display: flex;
	}
  &__img{
    max-width: 570px;
    margin-right: 45px;
    object-fit: cover;
  }
	&__info {
    display: flex;
    align-items: center;
	}
	&__info-num {
    margin-right: 30px;
    @extend %rubik-700;
    font-size: 140px;
    color: $back3;
	}
  &__info-box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
	&__info-desc {
    margin-bottom: 10px;
    font-size: 16px;
    color: $title1;
	}
	&__title {
    margin-bottom: 40px;
    @extend %dm-700;
    font-size: 36px;
    color: $title1;
	}
	&__text {
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__items {
    position: relative;
    display: flex;
    margin-top: 90px;
    &::before{
      content: '';
      position: absolute;
      top: -40px;
      width: 500px;
      height: 2px;
      background-color: #e6eaf0;
    }
	}
	&__item {
    position: relative;
    padding-left: 60px;
    padding-right: 25px;
    margin-right: 25px;
    width: 175px;
    border-right: 1px solid #e6eaf0;
    @extend %dm-700;
    &:last-child{
      border: none;
      margin-right: 0;
    }
    &::before{
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }
    &--list::before{
      background-image: url('../images/about/icon-1.svg');
    }
    &--rupor::before{
      background-image: url('../images/about/icon-2.svg');
    }
    &--medal::before{
      background-image: url('../images/about/icon-3.svg');
    }
	}
	&__item-num {
    font-size: 36px;
    line-height: 38px;
    color: $title1;
	}
	&__item-text {
    font-size: 16px;
    color: #4c4c4c;
	}
}

// about-features

.about-features {
  padding: 85px 0;
  background-color: $back2;
}
.features-about {
	&__items {
    display: flex;
    justify-content: space-between;
    
	}
	&__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 270px;
    @extend %dm-700;
    color: $title1;
	}
  &__item-icon{
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
  }
	&__item-num {
    margin-bottom: 10px;
    font-size: 36px;
	}
	&__item-text {
    font-size: 18px;
	}
}

// team

.team {
  padding: 120px 0 70px;
	&__inner {
    display: flex;
	}
	&__content {
    width: 300px;
    margin-right: 100px;
    color: $title1;
	}
	&__title {
    margin-bottom: 25px;
    @extend %dm-700;
    font-size: 36px;

	}
	&__text {
    width: 310px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
	}
	&__link {
    position: relative;
    display: inline-block;
    width: 170px;
    padding: 15px 0 15px 18px;
    color: #fff;
    background-color: $back3;
    border-radius: 5px;
    @extend %dm-700;
    font-size: 15px;
      &::before{
        content: '';
        position: absolute;
        top: 20px;
        right: 25px;
        width: 20px;
        height: 20px;
        background-image: url(../images/about/arrow.svg);
        background-repeat: no-repeat;
      }
	}
	&__items-wrapper {
    width: 770px;
	}
	&__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
	}
	&__item {
    position: relative;
    width: 370px;
	}
	&__item-img {
    width: 370px;
    height: 320px;
    object-fit: cover;
	}
	&__item-info {
    position: absolute;
    bottom: -60px;
    display: flex;
    align-items: center;
    width: 325px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
	}
  &__item-infotext {
    margin-right: 53px;
	}
	&__item-name {
    margin-bottom: 10px;
    @extend %dm-700;
    font-size: 22px;
    color: $accent;
	}
	&__item-prof {
    font-size: 16px;
	}
	&__item-social {
    display: flex;
	}
	&__item-sociallink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    background-color: #f6f6f6;
    border-radius: 50%;
      &:last-child{
        margin-right: 0;
      }
	}
}

// terms

.terms {
  padding-top: 110px;
	&__title {
    margin-bottom: 10px;
    @extend %rubik-500;
    font-size: 24px;
    color: $title1;
    line-height: 40px;
	}
	&__list {
    margin-bottom: 50px;
    list-style-type: none;
    counter-reset: num;
	}
	&__list-item {
    position: relative;
    &::before{
      content: "0" counter(num) ".";
      counter-increment: num;
      position: absolute;
      top: 0;
      left: 5px;
      display: inline-block;
      color: $title1;
    }
    &:nth-child(n + 10)::before{
      content: counter(num);
    }
    margin-bottom: 30px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
	&__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    color: $title1;
	}
}







@import 'media';